@font-face {
  font-family: 'alarm_clock';
  src: url('../resources/fonts/alarm_clock.woff2') format('woff2'),
       url('../resources/fonts/alarm_clock.woff') format('woff'),
       url('../resources/fonts/alarm_clock.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  color: #FFF9F5;
  background-color: #F6BD60;
  font-family: 'alarm_clock','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-y: hidden;
}

.main-section {
  background-color: #F6BD60;
  /*
  background-color: #2F232A;
  margin-top: 20vh;
  */
  height: 80%;
  text-align: center;
}

.button {
  position: absolute;
  display: flex;
  text-align: center;
  font-family: Calibri;
  background-color: #1C1519;
  color: #FFF9F5;
  border-style: none;
  margin-top: 50px;
}
/*****
SVG features
******/

.main-section {
  display: flex;
  justify-content: center;
}

.visor-panel-wrapper {
  position: absolute;
  display: flex;
  top: 520px;
  right: 48%;
  /*padding: 0px 0px 0px 0px;*/
  z-index: 1000;
}

.visor {
  margin-top: 50px;
  display: inline-block;
  color: #1C1519;
}

.control-panel {
  display: inline-block;
  padding: 20px;
}

.mood-drone {
  /*display: flex;
  justify-content: center;
  background-color: #1C1519;
  */
  position: absolute;
  max-width: 50%;
  z-index: 0;
  top: 40px;
}

@media (max-width: 1115px) {
  .mood-drone {
    max-width: 70%;
  }
}

@media (max-width: 800px) {
  .mood-drone {
    max-width: 85%;
  }
}

@media (max-width: 660px) {
  .mood-drone {
    max-width: 90%;
  }
}

.upper-wrapper {
  position: relative;
  display: inline-block;
  top: 23px;
  max-width: 550.11px;
  z-index: 4;
}

.wheel-grid {
  position: relative;
  display: inline-flex;
  /*max-width: 550px;*/
  max-width: 558px;
  justify-content: center;
  z-index: 3;
  padding: 0;
}

.wheel-wrapper {
  position: relative;
  flex-shrink: 1;
  /*max-width: 272px;*/
  /*max-height: 272px;*/
  margin: 0 5.5px 0 1.6px;
}

.playing {
  animation: rotation 0.8s infinite linear;
  transform-origin: 50.777% 49.999%;
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

.main-wrapper {
  position: relative;
  top: -340px;
  max-width: 544px;
}

.drone-button {
  display: none;
  position: absolute;
  height: 300px;
  width: 300px;
  right: 60px;
  background-color: #1C1519;
  border-style: none;
  z-index: 5;
}