.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F5F5F5;
}

.header-text {
  position: absolute;
  padding-top: 70vh;
  z-index: 99;
  
}

#play-button {
  position: absolute;
  display: inline;
  height: 50px;
  width: 50px;
  bottom: 0;
  border-radius: 100;
  background-color: #F5F5F5;
  z-index: 99;
}

.App-link {
  color: #61dafb;
}


